:root {
    --offwhite: rgb(253, 253, 253);
    --graywhite: rgb(233, 231, 231);
    --bluetheme: rgb(113, 113, 218);
    --shadow: rgb(155, 154, 154);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
    grid-template-areas: 
    'dashboard header header'
    'dashboard projects announcements'
    'dashboard projects trending'
    ;
}

.header {
    box-sizing: border-box;
    background-color: var(--offwhite);
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 2px 5px var(--shadow);
    position: relative;
    z-index: 1;
}

.header-top, .header-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding: 0 25px;
}

form.search {
    display: flex;
    align-items: center;
    gap: 3px;
    flex: 1;
}

.search-button {
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    border: none;
    flex: 1;
    height: 1.5rem;
    max-width: 700px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

img.svg {   
    height: 20px;
}

.profile-image {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    min-width: 50px;
}

.profile-image img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.header-bot .profile-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.header-bot .profile-image{
    height: 75px;
    width: 75px;
    min-width: 75px;
}

.profile-text {
    font-weight: bold;
    line-height: .2rem;
    overflow: hidden;
    white-space: nowrap;
}

.profile-text .name-text {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-bot ul {
    display: flex;
    justify-content: right;
    gap: 10%;
    flex: 1;
}

.header ul li button {
    background-color: var(--bluetheme);
    color: white;
    border-style: none;
    height: 3rem;
    width: 10vw;
    max-width: 150px;
    border-radius: 25px;
}

.dashboard {
    background-color: var(--bluetheme);
    grid-area: dashboard;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0 0 10px;
    position: relative;
    z-index: 2;
    box-shadow: 2px 0 3px var(--shadow);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.logo img {
    height: 50px;
    filter: invert(100%) sepia(100%) saturate(18%) hue-rotate(322deg) brightness(105%) contrast(105%);
}

.dashboard ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 20px;
}

.dashboard ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard ul li img{
    height: 15px;
    filter: invert(100%) sepia(100%) saturate(18%) hue-rotate(322deg) brightness(105%) contrast(105%);
}

.projects {
    background-color: var(--graywhite);
    grid-area: projects;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
}

.card-box {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 150px;
    width: 250px;
    background-color: var(--offwhite);
    border-radius: 5px;
    border-left: 5px solid rgb(255, 217, 0);
    box-shadow: 2px 2px 2px var(--shadow);
    padding: 15px;
    gap: 5px;
}

.card-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.card-body {
    color: gray;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-icons img {
    height: 25px;
}

.card-icons {
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.announcements {
    background-color: purple;
    grid-area: announcements;
}

.trending {
    background-color: green;
    grid-area: trending;
}